/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

s|TextInput.searchInput {
	
	 fontFamily			: TimesItalic;
	 fontSize			: 24;
	 color				: #c5c3c3;
	 fontStyle			: italic;
}

s|Label.AddProfileLabel {
	
	fontFamily			: HelveticaNeueBold;
	color				: #f7f8fa;
	fontWeight			: bold;
	fontSize			: 14;
	lineHeight			: 13;
	kerning				: on;
	trackingLeft		: -1;
}

s|Label.QuestionLabel {
	
	fontFamily			: HelveticaNeueBold;
	color				: #f7f8fa;
	fontWeight			: bold;
	fontSize			: 16;
	kerning				: on;
	trackingLeft		: -1;
}

s|Label.EditorPodTitle {
	
	fontFamily			: HelveticaNeueBold;
	color				: #333333;
	fontWeight			: bold;
	fontSize			: 30;
	kerning				: on;
	trackingLeft		: -1;
}

s|Label.ItemTitle {
	fontFamily			: HelveticaNeueBold;
	color				: #333333;
	fontWeight			: bold;
	fontSize			: 24;
	kerning				: on;
	trackingLeft		: -1;
}

s|Label.ItemSubTitle {
	fontFamily			: TimesItalic;
	fontSize			: 16;
	color				: #363535;
	fontStyle			: italic;
}

s|Label.EditorTitle {
	
	fontFamily			: HelveticaNeueBold;
	color				: #898787;
	fontWeight			: bold;
	fontSize			: 20;
	kerning				: on;
	trackingLeft		: -1;
}

s|Label.RadioItem {
	fontFamily			: TimesItalic;
	fontSize			: 16;
	color				: #363636;
	fontStyle			: italic;
	kerning				: on;
	trackingLeft		: -1
}

s|Label.RadioItemSelected {
	fontFamily			: TimesItalic;
	fontSize			: 16;
	color				: #FFFFFF;
	fontStyle			: italic;
	kerning				: on;
	trackingLeft		: -1
}